
/*********************************************************************************/
                        /* RESPONSIVO MEDIA QUERIES --414px ( CELL )  */
/* @media(max-width:414px)
{
  header
  {
    left: -120%;
  }

  #menu
  {
    display: block;
  }

  header.toggle
  {
    left: 0%;
  }

  body
  {
    padding: 0;
  }
} */



/*********************************************************************************/
                      /* RESPONSIVO MEDIA QUERIES -- 360px ( CELL ) */

/* @media(max-width:360px)
{
  html
  {
    font-size: 50%;
  }
} */



/*********************************************************************************/