
/*********************************************************************************/
                        /* RESPONSIVO MEDIA QUERIES -- 991px ( TABLET )  */
@media(max-width:991px)
{
  header
  {
    left: -120%;
  }

  #menu
  {
    display: block;
  }

  header.toggle
  {
    left: 0%;
  }

  body
  {
    padding: 0;
  }
}



/*********************************************************************************/
                      /* RESPONSIVO MEDIA QUERIES -- 700px ( TABLET ) */

@media(max-width:700px)
{
  html
  {
    font-size: 50%;
  }
}



/*********************************************************************************/