
/*********************************************************************************/
                        /* RESPONSIVO MEDIA QUERIES -- 1024px and 800px  ( COMPUTER )  */

@media(max-width: 1024px){

                                      /* ABOUT MY EXPERIENCE */

.sobre .row
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.sobre .row .info h3
{
  color: var(--green);
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: normal;
}

.sobre .row .info h3 span
{
  color: #eee;
  font-size: 2rem;
  padding: 0.5rem;
}

.sobre .row .habilidades .box
{
  width: 22rem;
  background: #eee;
  text-align: center;
  padding: 5rem;
  margin: 2rem;
  box-shadow: inset 0 0 1em gold , 0 0 1em var(--green);
  font-weight: bolder;
  border-radius: 10px;
}

.sobre .row .habilidades .box span
{
  font-size: 5rem;
  color: var(--green);
}

                                                /* CARD DO PORTFOLIO */
  .container, 
  .containerA, 
  .containerB, 
  .containerC, 
  .containerD, 
  .containerE
  {
    margin: -78px; 
  }

  .containerC, 
  .containerD, 
  .containerE
  {
    margin-top: -180px;
  }

  .card .card-bg,
  .cardA .card-bgA,
  .cardB .card-bgB,
  .cardC .card-bgC,
  .cardD .card-bgD,
  .cardE .card-bgE
  {
    position: absolute;
    top: -45px;
    margin: 40px;
  }


  .card .card-bg img
  {
    max-width: 65%;
  }

 .cardE .card-bgE img,
 .cardC .card-bgC img
 {
   max-width: 63%;
 }

   .card-bg img,
   .card-bgA img,
   .card-bgB img,
   .card-bgC img,
   .card-bgD img,
    .card-bgE img
    {
    max-width: 66%;
  }
  
  .card .title,
  .cardA .titleA,
  .cardB .titleB,
  .cardC .titleC,
  .cardD .titleD,
  .cardE .titleE
  {
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 120px;
    text-align: center;
    line-height: 10px;
    transition: all 0.3s ease-out;
  }
  
  .card .title h2,
  .cardA .titleA h2,
  .cardB .titleB h2,
  .cardC .titleC h2,
  .cardD .titleD h2,
  .cardE .titleE h2
  {
    font-family: 'Eczar', serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3ECAF6;
    margin-top: -80px;
  }
  
  .card .title h1,
  .cardA .titleA h1,
  .cardB .titleB h1,
  .cardC .titleC h1,
  .cardD .titleD h1,
  .cardE .titleE h1
  {
    font-family: 'Rubik Iso', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    color: #d2ee19;
    margin-top: 20px;
  }
  
  .card .title h3,
  .cardA .titleA h3,
  .cardB .titleB h3,
  .cardC .titleC h3,
  .cardD .titleD h3,
  .cardE .titleE h3
  {
    font-family: 'Eczar', serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #3ECAF6;
  }
  
  .card .images .power,
  .cardA .imagesA .powerA,
  .cardB .imagesB .powerB,
  .cardC .imagesC .powerC,
  .cardD .imagesD .powerD,
  .cardE .imagesE .powerE
  {
    z-index: 1;
    position: relative;
    width: 160px;
    top: -110px;
    right: 40px;
    transition: all 0.3s ease-out;
  }

                                                  /*SEÇÃO FORMULARIO */


.contato .row
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -20px;  
}

.contato .row .conteudo
{
  flex: 1 1 30rem;
  padding-top: 50px;
  padding-bottom: 10px; 
}

.contato .row form
{
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  padding-bottom: 10rem;
  margin-top: 50px;
}

.contato .row form .box
{
  padding: 1rem;
  margin: 0.5rem 0;
  background: rgb(253, 253, 253);
  color: black;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 100%;
  border-radius: 10px; 
}

.contato .row .conteudo .title
{
  text-transform: uppercase;
  color: cornsilk;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.contato .row .conteudo .info h3
{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contato .row .conteudo .info h3 i
{
  color: var(--green);
  padding-right: 1rem;
}



                                                /* ICONES REDES-SOCIAIS */
.peLink{
  display: flex;
  margin-top: -130px;
  border-radius: 5px;
  margin-left: 350px;
}

.rodape-linkd img{
  margin-right: 35px;
}

.rodape-zapp img{
  width: 80%;
  margin-top: 4px;
}

.nomeDesenvolvedor
{
  display: flex;
  margin-top: -30px;
  margin-left: 145px;
}

                                                     /* CURRICULO  */
.curriculo
{
  text-align: center;
}

.box-conteudo img{
  max-width: 65%;
}

} 