
/*********************************************************************************/
                        /* RESPONSIVO MEDIA QUERIES --414px ( CELL )  */
@media(max-width:414px)
{
  header
  {
    left: -120%;
  }

  #menu
  {
    display: block;
  }

  header.toggle
  {
    left: 0%;
  }

  body
  {
    padding: 0;
  }

                                       /* HOME */



.home
{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 20px;
}

.home,
 #hello,
 #thiago
 {
    font-size: 25px;

    
}

.btn
{
  color: #eee;
  font-size: 1.5rem;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 17px;
}

.home .text
{
    font-size: 12px;
}

  

                                        /* ABOUT MY EXPERIENCE */

.sobre .row
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  padding-top: 50px;
}

.sobre .row .info h3
{
  color: var(--green);
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: normal;
}

.sobre .row .info h3 span
{
  color: #eee;
  font-size: 2rem;
  padding: 0.5rem;
}

.sobre .row .habilidades .box
{
  width: 15rem;
  background: #eee;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  box-shadow: inset 0 0 1em gold , 0 0 1em var(--green);
  font-weight: bolder;
  border-radius: 10px;
}

.sobre .row .habilidades .box span
{
  font-size: 3rem;
  color: var(--green);
}

                                    /* CARD DO PORTFOLIO */

  .portfolio
  {
    margin: 50px;
    margin-right: -100px;
  }                                    
  
  .containerB
  {
    margin-top: -230px;
  }

  .containerC, 
  .containerD, 
  .containerE
  {
    margin-top: -250px;
  }

  
  .card .card-bg,
  .cardA .card-bgA,
  .cardB .card-bgB,
  .cardC .card-bgC,
  .cardD .card-bgD,
  .cardE .card-bgE
  {
    position: absolute;
    top: -45px;
  }


  .card .card-bg img
  {
    max-width: 55%;
  }

 .cardE .card-bgE img,
 .cardC .card-bgC img
 {
   max-width: 53%;
 }

   .card-bg img,
   .card-bgA img,
   .card-bgB img,
   .card-bgC img,
   .card-bgD img,
    .card-bgE img
    {
    max-width: 56%;
  }
  
  .card .title,
  .cardA .titleA,
  .cardB .titleB,
  .cardC .titleC,
  .cardD .titleD,
  .cardE .titleE
  {
    z-index: 2;
    position: absolute;
    top: 80px;
    right: 160px;
    text-align: center;
    line-height: 10px;
    transition: all 0.3s ease-out;
  }
  
  .card .title h2,
  .cardA .titleA h2,
  .cardB .titleB h2,
  .cardC .titleC h2,
  .cardD .titleD h2,
  .cardE .titleE h2
  {
    font-family: 'Eczar', serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #3ECAF6;
    margin-top: -80px;
  }
  
  .card .title h1,
  .cardA .titleA h1,
  .cardB .titleB h1,
  .cardC .titleC h1,
  .cardD .titleD h1,
  .cardE .titleE h1
  {
    font-family: 'Rubik Iso', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: #d2ee19;
    margin-top: 20px;
  }
  
  .card .title h3,
  .cardA .titleA h3,
  .cardB .titleB h3,
  .cardC .titleC h3,
  .cardD .titleD h3,
  .cardE .titleE h3
  {
    font-family: 'Eczar', serif;
    font-size: 6px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #3ECAF6;
  }
  
  .card .images .power,
  .cardA .imagesA .powerA,
  .cardB .imagesB .powerB,
  .cardC .imagesC .powerC,
  .cardD .imagesD .powerD,
  .cardE .imagesE .powerE
  {
    z-index: 1;
    position: relative;
    width: 140px;
    top: -130px;
    right: 70px;
    transition: all 0.3s ease-out;
  }


  
                        /* JANKEPON */

  ul#jogador-escolha li a img, 
  ul#computador-escolha li a img
{
  max-width: 40px;
  padding-top: 35px;
}



                        /* CURRICULO  */
.curriculo
{
  text-align: center;
}

.curriculo .box-conteudo .box img{
  max-width: 90%;
}



                    /*SEÇÃO FORMULARIO */

.contato .row
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: -50px;
}

                                                /* ICONES REDES-SOCIAIS */
.peLink{
  margin-left: 150px;
  padding-top: 85px; 
}

.rodape-linkd img{
  margin-right: 35px;
}

.rodape-zapp img{
  width: 140%;
  margin-top: 4px;
}

.nomeDesenvolvedor
{
  display: flex;
  margin-top: -5px;
  margin-left: 145px;
}


}



/*********************************************************************************/
                      /* RESPONSIVO MEDIA QUERIES -- 360px ( CELL ) */

@media(max-width:360px)
{
    header
    {
      left: -120%;
    }
  
    #menu
    {
      display: block;
    }
  
    header.toggle
    {
      left: 0%;
    }
  
    body
    {
      padding: 0;
    }

    
                                     /* HOME */



.home
{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 20px;
}

.home,
 #hello,
 #thiago
 {
    font-size: 25px;

    
}

.btn
{
  color: #eee;
  font-size: 1.5rem;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 17px;
}

.home .text
{
    font-size: 12px;
}

  
                                          /* ABOUT MY EXPERIENCE */
  
  .sobre .row
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -60px;
  }
  
  .sobre .row .info h3
  {
    color: var(--green);
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
  }
  
  .sobre .row .info h3 span
  {
    color: #eee;
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  .sobre .row .habilidades .box
  {
    width: 10rem;
    background: #eee;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: inset 0 0 1em gold , 0 0 1em var(--green);
    font-weight: bolder;
    border-radius: 10px;
  }
  
  .sobre .row .habilidades .box span
  {
    font-size: 3rem;
    color: var(--green);
  }
  
                                 
                                                 /* CARD DO PORTFOLIO */

  .portfolio
  {
    margin: 50px;
    margin-right: -130px;
  }                                    
  

  .containerC, 
  .containerD, 
  .containerE
  {
    margin-top: -600px;
  }

  .container, 
  .containerA, 
  .containerB, 
  .containerC, 
  .containerD, 
  .containerE
  {
    margin: -90px; 
    padding: -37px;
  }

  .containerC, 
  .containerD, 
  .containerE
  {
    margin-top: -120px;
  }

  .card .card-bg,
  .cardA .card-bgA,
  .cardB .card-bgB,
  .cardC .card-bgC,
  .cardD .card-bgD,
  .cardE .card-bgE
  {
    position: absolute;
    top: -45px;
    margin: 40px;
  }


  .card .card-bg img
  {
    max-width: 53%;
  }

 .cardE .card-bgE img,
 .cardC .card-bgC img
 {
   max-width: 55%;
 }

   .card-bg img,
   .card-bgA img,
   .card-bgB img,
   .card-bgC img,
   .card-bgD img,
    .card-bgE img
    {
    max-width: 57%;
  }
  
  .card .title,
  .cardA .titleA,
  .cardB .titleB,
  .cardC .titleC,
  .cardD .titleD,
  .cardE .titleE
  {
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 170px;
    text-align: center;
    line-height: 10px;
    transition: all 0.3s ease-out;
  }
  
  .card .title h2,
  .cardA .titleA h2,
  .cardB .titleB h2,
  .cardC .titleC h2,
  .cardD .titleD h2,
  .cardE .titleE h2
  {
    font-family: 'Eczar', serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #3ECAF6;
    margin-top: -80px;
  }
  
  .card .title h1,
  .cardA .titleA h1,
  .cardB .titleB h1,
  .cardC .titleC h1,
  .cardD .titleD h1,
  .cardE .titleE h1
  {
    font-family: 'Rubik Iso', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: #d2ee19;
    margin-top: 20px;
  }
  
  .card .title h3,
  .cardA .titleA h3,
  .cardB .titleB h3,
  .cardC .titleC h3,
  .cardD .titleD h3,
  .cardE .titleE h3
  {
    font-family: 'Eczar', serif;
    font-size: 6px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #3ECAF6;
  }
  
  .card .images .power,
  .cardA .imagesA .powerA,
  .cardB .imagesB .powerB,
  .cardC .imagesC .powerC,
  .cardD .imagesD .powerD,
  .cardE .imagesE .powerE
  {
    z-index: 1;
    position: relative;
    width: 130px;
    top: -160px;
    right: 70px;
    transition: all 0.3s ease-out;
  }
  
  
   
                          /* JANKEPON */
  
    ul#jogador-escolha li a img, 
    ul#computador-escolha li a img
  {
    max-width: 30px;
    padding-top: 55px;
  }
  
  
  
                          /* CURRICULO  */
  .curriculo
  {
    text-align: center;
  }
  
  .curriculo .box-conteudo .box img{
    max-width: 100%;
  }
  
  
  
                      /*SEÇÃO FORMULARIO */
  
  .contato .row
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: -50px; 
  }

.contato .row .conteudo
{
  flex: 1 1 20rem;
  padding-top: 50px;
  padding-bottom: 10px;
}

.contato .row form
{
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  padding-bottom: 10rem;
  margin-top: -30px;
}

.contato .row form .box
{
  padding: 1rem;
  margin: 0.5rem 0;
  background: rgb(253, 253, 253);
  color: black;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 100%;
  border-radius: 10px; 
}

.contato .row .conteudo .title
{
  text-transform: uppercase;
  color: cornsilk;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.contato .row .conteudo .info h3
{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contato .row .conteudo .info h3 i
{
  color: var(--green);
  padding-right: 1rem;
}
  
                                                  /* ICONES REDES-SOCIAIS */
  .peLink{
    margin-left: 150px;
    padding-top: 65px; 
  }
  
  .rodape-linkd img{
    margin-right: 35px;
    width: 75%;
  }

  .rodape-git img{
    width: 78%;
    margin-top: -1px;
  }
  
  .rodape-zapp img{
    width: 110%;
    margin-top: -1px;
    right: 10px;
    margin-left: -18px;
  }
  
  .nomeDesenvolvedor
  {
    display: flex;
    margin-top: -5px;
    margin-left: 145px;
  }
  
}



/*********************************************************************************/